.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 36px;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--white);
    color: rgb(22, 24, 35);
    border: 1px solid transparent;
    cursor: pointer;

    & .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: flex;
}

.rounded {
    // font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;
    // padding: 7px 8px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.outlineDarkColor {
    border-color: rgba(22, 24, 35, 0.12);
    background: var(--white);
    font-weight: 600;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.wrapper.onlyIcon {
    height: 4rem;
    min-width: 4rem;

    .icon + .title,
    .title + .icon {
        margin-left: 0px;
    }
}

.secondary {
    background-color: rgba(0, 0, 0, 0.05);
    font-weight: 600;

    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 88px;
    padding: 10px 16px;
}

.xLarge {
    min-width: 148px;
    padding: 14px 16px;
}
